<a href="/">Home</a>
<form action="/<%= id %>/join-club" method="post">
    <label for="privateKey">Enter Private Key To Join Our Private Club</label>
    <input type="password" name="privateKey" id="privateKey">
    <button type="submit">Join Private Club</button>
</form>