<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap");
    </style>
    <title><%= title %></title>
  </head>
  <body>
    <%- include('header', {user:user}) %>
    <%- include("partials/errors") %>
    <form action="/<%= id %>/new-post" method="post" class="inp">
      <label for="title">Title: </label>
      <input type="text" name="title" id="title" required />
      <label for="message">Message: </label>
      <textarea name="message" id="message" required></textarea>
      <button type="submit">Add Post</button>
    </form>
  </body>
</html>
