<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap");
    </style>
    <title><%= title %></title>
  </head>
  <body>
    <%- include('header', {user:user}) %>
    <div class="form-container">
      <form action="/sign-up" method="post" class="inp-form">
        <label for="firstName"
          >First Name<input
            type="text"
            id="firstName"
            name="firstName"
            required
        /></label>

        <label for="lastName"
          >Last name<input type="text" name="lastName" id="lastName"
        /></label>

        <label for="username"
          >Username<input type="text" id="username" name="username"
        /></label>

        <label for="password"
          >Enter Password<input type="password" id="password" name="password"
        /></label>

        <label for="confirm-password"
          >Confirm Password<input
            type="password"
            id="confirm-password"
            name="confirm-password"
        /></label>

        <button type="submit">Sign Up</button>
        <%- include("partials/errors") %>
      </form>
    </div>
  </body>
</html>
